<div class="m-b-3">
    Generador de código JSON <br>
    <a href="https://technicalseo.com/tools/schema-markup-generator/" target="_blank">https://technicalseo.com/tools/schema-markup-generator/</a><br><br>
    Validador de URL <br>
    <a href="https://search.google.com/test/rich-results" target="_blank">https://search.google.com/test/rich-results</a>
</div>